body {
  background: #151515 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  height: 300px
  width: 100%
}
/* the style for the actual links */
a {
  text-decoration: none;
  color: #0000ff;
}
a:hover {
  text-decoration: underline;
}
.content{
  width: 900px;
  margin: 0 auto;
}
.main-header {
  color: #32CD32;
  font-size: 3em;
  font-weight: 2em;
}
#intro {
  background: #d3d3d3;
  font-family: "Courier New", Courier;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-nav {
  width: 100%;
}
.main-nav a {
  font-size: 2em;
  font-weight: 1em;
}
.main-nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
}

/* mobile responsiveness */
@media screen and (max-width:550px) {
  .main-header {
    font-size: 2em;
  }
  body {
    align-items: stretch;
  }
  .main-nav ul {
  align-items: center;
  flex-direction: column;
}
}
.about{
  border-bottom: solid white 1px;
}
.about #about {
  /* padding-left: 100px; */
  font-size: 2em;
}
.about .profile {
  width: 250px;
}
.about img {
  margin-top: -380px;
  float: right;
  border-radius: 50%;
  border: solid white 1px;
  max-width: 100%
}
.about p {
  text-indent: 1em;
}
#projects{
  padding-bottom: 20px;
  border-bottom: 1px white solid;
}

#canvas1{
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  outline: 1px solid #fff;:
}
.sideBySide{
  display: inline-block;
  width: 50%
}
.snake{
  border-top: white solid 1px;
  margin: 0 auto;
  margin-bottom: 20px;
}
p{
  text-align: center;
}
.snake img{
  display: block;
  margin: 0 auto;
}
.gameOfLife{
  border-top: solid white 1px;
}
.projectTitle{
  text-align: center;
}
