#game {
  border: black solid 1px;
  margin: 50px;
  display: inline-block;
  position: absolute;
}

#instructions{
  margin: 20px;
  display: inline-block;
  position: absolute;
}

#gameover{
  padding: 300px 0;
  position: absolute;
  margin-left: 120px;
}

.cell {
  height:20px;
  width:20px;
  border: black solid 1px;
}

.cell.snake {
  background:green
}

.cell.apple {
  background: red
}

.cell.snake-head {
  background:black
}

.row {
  display: flex;
}
.row > div {
  display: inline-block;
}
